@media screen and (max-width: 479px) and (min-width: 300px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    font-family: serif;
    color: #e6e4e4;
    font-size: 1.2em;
  }

  .logo {
    margin-bottom: 0.5em;
  }

  .dash {
    font-size: 1.5em;
  }

  .nav-gist {
    text-align: center;
    position: relative;
  }

  .list{
    font-size: 0.65em;
  }

  .gist {
    display: block;
    text-align: center;
    margin-bottom: 2em;
        width: 100%;
  }

  .head-title {
    font-size: 1em;
    width: 80%;
    margin: auto
  }

  .board {
    font-size: 0.89em;
    border-radius: 10px;
    padding: 0.92em;
    padding: 1em 0.78em;
  }

  .nav-gist {
    display: block;
    transition: all 0.5s ease-in-out;
  }
  .btn-nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .form {
    width: 100%;
    background: linear-gradient(to top, #7f483f34, rgb(154, 85, 154), #43438d);
    margin: 0;
  }

  .list {
    margin-bottom: 1.2em;
  }

  .btn {
    background-color: rgb(131, 146, 145);
    width: 100%;
    padding: 0.64em 2em;
  }

  .btn:hover {
    transition: 0.3s ease-out;
    background-color: #fff;
    color: rgb(105, 102, 102);
  }

  .footer-text {
    padding: 1em;
    font-size: 0.76em;
  }

  .log-head {
    width: 100%;
  }

  .bnt {
    width: 100%;
  }

  .summit {
    width: 100%;
    max-width: 10em;
}
}

/* @media screen and (min-width: 480px) and (max-width: 767px) {
  body {
    background-color: #e6e4e4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    font-family: serif;
    color: #e6e4e4;
  }

  .nav-gist {
    text-align: center;
  }

  .gist {
    display: block;
    text-align: left;
    height: 100vh;
  }

  /* .head-title {
    color: #333;
    font-size: 1em;
    width: 80%;
    position: absolute;
    top: 4%;
  }
  
   .btn-nav {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .form {
    width: 100%;
    background: linear-gradient(to top, #7f483f34, rgb(154, 85, 154), #43438d);
    margin: 0;
  }

  .list {
    margin-bottom: 1.2em;
  }

  .board {
    padding: 0.44em;
  }

  .btn {
    width: 32%;
    padding: 0.64em 2em;
  }

  .btn:hover {
    transition: 0.3s ease-out;
    background-color: #43438d;
    color: #e6e4e4;
  }
  
  .footer-text {
    color: #333;
    padding: 1em;
    font-size: 0.76em;
  }

} */

/* @media screen and (min-width: 768px) and (max-width: 991px) {
html{
  font-size: 80%;
}
  
  body {
    background-color: #272626;
    font-family: serif;
    color: #fff;
  }

  .nav-gist{
    justify-content: space-between;
    color:#eee;
  }

  .head-title {
    font-size: 2em;
    color: #edecec;
  }
.logo{
  margin: 0;
}
  .gist{
   margin-bottom: 4.2em;

  }
  .form{
    background-color: white;
    width: 60%;
  }

  .list {
    font-size: 1em;
    margin-bottom: 1.9em;
  }

  .board {
    padding: 0.44em;
  }

  .dash:link,
  .dash:visited{
    color: #eee;
  }
  .btn {
    width: 28%;
    background-color: rgba(122, 96, 122, 0.836);
  }

  .btn:hover {
    transition: 0.3s ease-out;
    background-color: #9f9fcb;
    color: #e6e4e4;
  }
  .footer-text {
    color: #eee;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 1em;
    font-family: serif;
    color: #333;
  }
.logo{
  position: relative;
  right: 50%;
}
  
  .form {
    background: linear-gradient(#1a1a22);
    margin: auto;
  }

  .list {
    font-size: 1em;
    margin-bottom: 1.2em;
  }

  .dash:hover,
  .dash:active{
    color: #1a1a22;
  }
  .board {
    padding: 0.44em;
  }

  .btn {
    width: 28%;
    background-color: rgba(123, 156, 168, 0.836);
  }

  .btn:hover {
    transition: 0.3s ease-out;
    background-color: #1a1a22;
    color: #edecec;
  }

  .bnt {
    width: 60%;
  }

  .summit {
    font-size: 1.2em;
    width: 22%;
    padding: 0.54em 1em;
   
  }
} */
